body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #040405;
}

#hero {
    background-image: url("../images/backgroundLarge.jpg");
    background-size: cover;
}

nav {
    padding: 24px 36px;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav img {
    width: 60px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(93, 92, 92);
}

#hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero_content .email_input {
    display:flex;
}
#hero_content p a {
    color: white;
}
#hero_content a {
    color: white;
}

#hero_content p {
    color: white;
    font-size: 22px;
    text-align: center;
}
.bundle {
    background-color: #0063e5;
    border: 1px solid #0063e5;
    color: white;
    padding: 10px;
}

.plan {
    width: 600px;
}
#cards_section {
    text-align: center;
    margin-top: 90px;
}

#cards_section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}

#cards_container {
    align-items: center;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas: 
        "one two three"
        "four five six";
}

#cards_container .card {
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

#cards_container .card img {
    max-width: 100%;
    max-height: 100%;
}

#wakanda{
    grid-area: one;
}
#andor{
    grid-area: two;
}

#turning_red {
    grid-area: three;
}

#fire_love {
    grid-area: four;
}

#encanto {
    grid-area: five;
}

#zootopia {
    grid-area: six;
}

footer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
footer img {
    max-width: 100px;
}
footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
footer ul li {
    margin-right: 20px;
}
footer ul li a {
    color: white;
    justify-content: space-between;
    text-decoration: none;
    font-size: 10px;
}

footer h5 {
    font-size: 10px;
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    
    footer {
        flex-direction: column;
        text-align: center;
        padding-bottom: 36px;
    }
    #cards_section {
        padding: 0px 24px;
    }
    #cards_section p {
        width: 100%;
    }
    #cards_container{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
    }
    #cards_container div {
        background-repeat: no-repeat;
    }
    #cards_container h4 {
        font-weight: normal;
    }
}