nav {
    background-color: white;
    padding: 24px;
}
ul {
    display: flex;
    justify-content: center;
    padding: 1px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}
ul li {
    margin: 12px;
}
li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
h1 {
    justify-content: center;
}
.dropdown_container {
    position: relative;
}
.dropdown_menu {
    background-color: lightgray;
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0px;
    top: 75%; 
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}
.dropdown_container:hover .dropdown_container{
    opacity: 1;
    visibility: visible;
    top: 100%;
}