nav {
    background-color: white;
    padding: 24px;
    border: solid black;
    position: sticky;
    top: 0px;
}
ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}
ul li {
    margin: 12px;
}
li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
.dropdown_container {
    position: relative;
}
.dropdown_menu {
    background-color: lightgray;
    position: absolute;
    flex-direction: column;
    width: 600%;
    left: 0px;
    top: 75%; 
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}
.dropdown_container:hover .dropdown_menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
main {
    margin: 0px;
    padding: 0px;
    text-align: center;

}
#box {
    height: 100px;
    width: 800px;
    background-color: pink;
}
.sale_container {
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
}
img {
    width: 300px;
    height: 400px;
    align-items: flex-end;
    padding-bottom: 25px;
    margin:auto;
}
#content {
    background-color: beige;
    padding: 10px;
    box-shadow: 0 0 0 8px peachpuff, 
    0 0 0 12px lightgreen,
    0 0 0 16px lightblue,
    0 0 0 20px plum;
    text-align: center;
}

/* Desktop breakpoint */
@media screen and (min-width: 1280px) {
    #tablet,
    #mobile {
        display: none;
    }
}
/* Tablet breakpoints */
@media screen 
    and (min-width:768px)
    and (max-width:1279px) {
        #desktop,
        #mobile {
            display: none;
        }
    }
    /* Mobile breakpoint */
@media screen and (max-width: 767px) {
        #desktop,
        #tablet {
            display: none;
        }
    }
