body {
    margin: 0px;
    font-family: sans-serif
    background-color: blue;
}

header {
    background-color:cyan;
    padding: 35px
}

h1 {
    color:white;
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
}

nav a {
    color:aliceblue;
    text-align: center;
}

h3 {
    text-align: center;
    background-color: beige;
    font-size: 20px;
}
h4 {
    text-align:center;
    background-color:beige;
    font-size: 20px;
}

.card {
    padding: 30px;
    border: 5px solid black;
    box-shadow: 4px 4px 8px 2px lightblue
}

img {
    float: left;
    width: 100px;
    margin: 5px
}

#clear {
    clear: both;
}

#image_container {
    padding-right: 20px
}