#main {
    background-color: blueviolet;
    padding: 30px;
}

#content {
    background-color: #19dc2f;
    border: 5px solid black;
    color: white;
    padding: 30px;
    margin: 15px 0px;
}

#content > div {
    margin: 16px 0px;
}

#quote_content {
   margin-left: 68px; 
}

#quote_citation {
    margin-left: 75px;
}