/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');
/*****************************************************************************
  Heading, Link, and Misc. Styles
*****************************************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
a {
    font-family: Lobster;
}

h4,
p {
    font-family: Montserrat;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    margin-top: 4px;
}

a {
    text-decoration: none;
}

nav,
nav a,
footer a {
    color: #e1a177;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
}

/****************************************************************************
  Nav/Footer styles
****************************************************************************/
nav {
    align-items: center;
    display: flex;
    margin: 0 24px;
}

footer {
    display: flex;
    justify-content: center;
}

#nav_links {
    justify-content: center;
}

#nav_links,
.social_media {
    display: flex;
    list-style-type: none;
}

#nav_links li,
.social_media li {
    padding: 0 4px;
}

nav .social_media {
    justify-content: flex-end;
    padding-left: 0;
}

.social_media i {
    font-size: 20px;
}

nav,
nav a,
footer a {
    color: #e1a177;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
}

nav ul,
nav h2 {
    flex: 1;
    margin: 0;
    padding: 0;
}

footer ul {
    padding: 0;
}

#carousel_container {
    margin-bottom: 20px;
}
/*****************************************************************************
  Button Styles
*****************************************************************************/
#hero a,
 .card a {
    background-color: white;
    color: #e1a177;
    border: 2px solid #000;
    border-radius: 24px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    min-width: 150px;
    transition: transform 0.25s;
}

#hero a:hover,
.card a:hover {
    transform: scale(1.1);
}
/****************************************************************************
  Hero styles
****************************************************************************/
#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
/****************************************************************************
  Card styles
****************************************************************************/
#three_cards,
#two_cards {
    display: flex;
}
.card {
    border: 2px solid #000;
    color: #e1a177;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px gray;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card p {
    font-size: 18px;
    flex: 1;
    margin-top: 0px;
}
footer, img {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
}
#carousel_container {
    padding: 10px;
}
/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/
@media screen and (max-width: 768px) {
    #site_grid{
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav_area"
            "hero_area"
            "three_cards_area"
            "carousel_area"
            "gallery_area"
            "two_cards_area"
            "footer_area";
    }
    nav {
        flex-direction: column;
    }
    #three_cards,
    #two_cards{
        flex-direction: column;
    }
    .card{
        align-items: center;
        margin: 36px 24px 0px;
    }
}