.card img {
    width: 200px;
}

#image_container_1 {
    float: right;
    padding: 10px;
}

.card img {
    width: 200px
}

#image_container_2 {
    float: left;
    padding: 10px;
    clear: both
}

nav ul {
    float:left;
    padding: 30px;
}

#image_container_3 {
    float: right;
    padding: 10px;
}

#image_container_4 {
    float: right;
    padding: 10px;
    clear: both;

}

#image_container_5 {
    float: right;
    padding: 10px;
}

#image_container_6{
    float: right;
    padding: 10px;
    clear: both
}
