/* NAV */
#hero {
    background-image: url("../images/hulu-bg.jpeg");
}

body {
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    display:block;
    background-color: black;
}

nav {
    padding: 24px 36px;
    background: linear-gradient(to bottom, #000000DD, #00000000);
}

nav ul {
    display:flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    margin-top: 0px;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content:space-between;
    margin: auto;
    padding: 10px;
    text-align: center;
    color:white;
}

nav ul li img {
    width: 60px;
}
#div_1 h4 {
    text-align: center;
    margin: auto;
    padding: 10px;
    color:#1CE783;
    position: relative;
}
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(93, 92, 92);
}
/* SUBSCRIPTION */

#div_1 h2 {
    color:white;
    text-align:center;

}

.hulu_disney {
    text-align: center;
    margin: auto;
    padding: 15px; 
}

.sign_up {
    display: flex;
    flex-direction: column;
}

.sign_up .both{
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #1CE783;
    border: 0px;
    border-radius: 2px;
    padding:1px 50px 1px;
    cursor:pointer;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size:30px
 }

 input[type=submit]:hover {
    opacity: 0.5;
 }

 input[type=submit]:active {
    background: whitesmoke;
 }

 .sign_up .terms {
    background: none;
    color: inherit;
    padding: 5px;
    font: inherit;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color:white;
 }

 .sign_up .hulu {
    background: none;
    color: inherit;
    padding: 10px;
    font: inherit;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color:white;
 }

 /* FOOTER */
 footer {
    display: flex;
    align-items: center;
    padding: 12px 36px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer #footer_image_container {
    width: 250px;
}

footer img {
    width: 100%;
}

.three_link {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 4px;
    transition:
        background-color 0.5s,
        color 0.5s;
}

.three_link:hover {
    background-color: white;
    color: black;
}

.terms_link {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

#footer_center {
    margin: 0px 24px;
    flex: 1;
}

#footer_center p {
    color: white;
    font-size: 22px;
}
 /* SHOWCASE */
 

 .promo h4 {
    color:#1CE783;
    font-weight: 400;
    text-align: center;
 }
 .promo h2 {
    color: white;
    text-align: center;
 }
 .promo h3 {
    color: white;
    text-align: center;
    font-weight: 100;
 }

/* CARDS */
 #four_cards {
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-auto-rows: 450px;
    grid-gap: 24px;
    width: 1252px;
    margin: 60px auto;
    text-align: left;
    background-repeat: no-repeat;
 }

 .card1 {
    color: white;
    background:
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/bobsburgers.jpeg");
    font-size: 8px;
    background-size: contain;
 }
.card1 h2 {
    font-weight: 300;
}

.card2 {
    color: white;
    background:
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/prey.jpeg");
    font-size: 8px;
    background-size: contain;
 }


.card2 h2 {
    font-weight: 300;
} 

 .card3 {
    color: white;
    background:
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/handmaidstale.jpeg");
    font-size: 8px;
    background-size: contain;
 }

.card3 h2 {
    font-weight: 300;
}

.card4 {
    color: white;
    background:
    linear-gradient(to bottom, #000000DD, #00000000 40%),
    url("../images/houseofdragon.jpeg");
    font-size: 8px;
    background-size: contain;
 }

.card4 h2 {
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    #four_cards {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
        background-repeat: no-repeat;
    }
}